body {
    /*padding-top: 60px;*/
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*ul.nav li.dropdown:hover ul.dropdown-menu{*/
    /*display: block;*/
/*}*/

li.nav-header{
    color: graytext;
}

hr{
    border-top: 2px solid ;
}

/*pre{*/
    /*background-color:#E0E0FF;*/
/*}*/

span.label a{
    color: #ffffff;
    background-color: transparent;
}

table.blog_thread{
    box-shadow: 2px 2px 8px #aaa;
    -webkit-box-shadow: 2px 2px 8px #aaa;
    -moz-box-shadow: 2px 2px 8px #aaa;
    background-color: #ffffff;
}