<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">{{ _("Qingshan's Blog") }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="/">{{ _('Home') }}</a>
                    </li>
                    <li >
                        <a href="{{ url_for('about') }}">{{ _('About') }}</a>
                    </li>
                    <li >
                        <a href="#">{{ _('Contact') }}</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>