<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Recent Posts</li>
            <li class="active"><a href="#">Post 1</a></li>
            <li><a href="#">Post 2</a></li>
            <li><a href="#">Post 3</a></li>
            <li class="nav-header">Categories</li>
            <li><a href="#">Python</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">Link3</a></li>
            <li class="nav-header">Tags</li>
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
        </ul>

    </div>
</div>