{% extends 'base.html' %}
{% set active_page = "about" -%}

{% block blog_content %}
    <div class="container-fluid">
       <div class="row">
        <div class="span3">
            <img data-src="holder.js/280x280" alt="300x200"  src="{{ me }}">
        </div>
        <div class="span9">
            <h3>{{ name }}</h3>
            <p>{{ desc }}</p>
            <p>
                <a class="btn btn-primary"
                   onclick="window.open('{{ email }}', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
                   title="Reveal this e-mail address">Email me
                </a>
            </p>
        </div>
       </div>

    </div>
    {{ content |highlight}}
{% endblock %}

{% block sidebar %}


{% endblock %}