{% extends 'base.html' %}
{% block blog_content %}
    {{ content }}
{% endblock %}

{% block sidebar %}
    <div class="thumbnail">
        <img data-src="holder.js/280x280" alt="300x200" style="width: 280px; height: 280px;"
             src="{{ me }}">

        <div class="caption">
            <h3>KillerA</h3>

            <p>ThoughtWorks, Developer, Consultant</p>

            <p><a href="#" class="btn btn-primary">Github</a> <a href="#" class="btn">Action</a></p>
        </div>
    </div>
{% endblock %}