<table class="blog_thread table table-bordered ">
    <tbody>
    <tr class="row-fluid">
        <td>
            <h3><a href="{{ url_for('blog', blog_title=post.title) }}">{{ post.title }}</a></h3>
            {% include 'post_summary.html' %}
            <div style="padding-top: 10px">
                {{ post.body | markup | truncate(600)  | highlight }}
                <a class="btn-link" href="{{ url_for('blog', blog_title=post.title) }}">Read the whole post...</a>
            </div>

        </td>
    </tr>
    </tbody>
</table>
