<table class="table table-bordered table-hover">
    <tbody>
    <tr class="row-fluid">
        <td>
            <h4><a href="{{ url_for('blog', blog_title=post.title) }}">{{ post.title | title }}</a></h4>
            <span class="label label-info well-small">{{ post.category.name }}</span>
            {% for tag in post.tags %}
                <span class="label label-inverse">{{ tag.name }}</span>
            {% endfor %}
            <span class="muted pull-right">posted {{ post.publish_date }}</span>
            <div style="padding-top: 10px">
                {{ post.body | truncate(400) | markup | highlight }}
                <a class="btn-link" href="{{ url_for('blog', blog_title=post.title) }}">Read the whole post...</a>
            </div>

        </td>
    </tr>
    </tbody>
</table>
