<div class="well sidebar-nav ">
    <ul class="nav nav-list ">
        <li class="nav-header nav-stacked">Recent Posts</li>
        {% for post in recent_posts %}
            <li><a href="{{ url_for('blog', blog_title = post.title) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{#</div>#}
{#<div class="well sidebar-nav ">#}
    <ul class="nav nav-list ">

        <li class="nav-header">Categories</li>
        {% for category in categories %}
            <li class="control-list">
                <a href="{{ url_for('category', category_name=category.name) }}">
                    {{ category.name }}  [{{ category.posts | length }}]
                </a>
            </li>
        {% endfor %}
    </ul>

{#</div>#}
{#<div class="well sidebar-nav ">#}
    <ul class="nav nav-list ">
        <li class="nav-header">Tags</li>
        {% for tag, count in tags %}
            <li>
                <a href="{{ url_for('tag', tag_name = tag.name) }}">
                    <span>{{ tag.name }}</span>
                    <span class="">[{{ count }}]</span></a>
            </li>
        {% endfor %}
    </ul>

{#</div>#}
{#<div class="well sidebar-nav ">#}
    <ul class="nav nav-list ">
        <li class="nav-header">Archives</li>
        {% for year, month, count in archives %}
            <li>
                <a href="{{ url_for('archive', year=year, month=month) }}">
                    {{ "%d-%d" %(year, month) }} [{{ count }}]
                </a>
            </li>
        {% endfor %}
    </ul>

</div>

