<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Recent Posts</li>
            {% for post in recent_posts %}
                <li><a href="#">{{ post.title }}</a></li>
            {% endfor %}

            <li class="nav-header">Categories</li>
            {% for category in categories %}
                <li><a href="#">{{ category.name }} ({{ category.posts | length }})</a></li>
            {% endfor %}

            <li class="nav-header">Tags</li>
            {% for tag in tags %}
                <li><a href="#">{{ tag.name }} ({{ tag.posts | length }})</a></li>
            {% endfor %}

            <li class="nav-header">Archives</li>
            {% for archive in archives %}
                <li><a href="#">{{ archive[0] }}  ({{ archive[1] }})</a></li>
            {% endfor %}
        </ul>

    </div>
</div>